.topNav {
    background-color: rgb(245, 245, 245);
    overflow: hidden;
    padding: 4px;
}

.topNav div {
	float: right;
}

.topNav a {
    float: left;
    display: block;
    color: black;
    line-height: 30px;
    text-align: left;
    height: 60px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

.topNav a:hover {
    color: grey;
    text-decoration: none;
}

.topNav .icon {
    display: none;
}

#logoContainer {
	padding: 4px 4px 4px 16px;
}
#logoContainer img {
    height: 100%;
    margin: 0px;
}

@media screen and (max-width: 768px) {
  #logoContainer {
  	display: block;
  }
  .topNav a {
  	display: none;
  	text-decoration: none;
  }
  .topNav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .topNav.responsive {position: relative;}
  .topNav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topNav.responsive div {
  	float: none;
  }
  .topNav.responsive a {
    float: none;
    display: block;
  }
}